@import "_reset.scss";
@import "_variable.scss";
@import "_flexBox.scss";
@import "_dataAttribute.scss";
@import "_layout.scss";

html {
    height: 100%;
    body {
        font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
        touch-action: manipulation;
        height: 100%;
    }
}